.error_btn_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn_error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  background-color: rgb(85, 75, 75);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  transition: 0.5s ease;
  &:hover {
    background-color: rgb(130, 14, 14);
    transform: scale(1.1);
    transition: 0.9s ease;
  }
}
