.eye_ico {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  img {
    object-fit: cover;
  }
  &.unactive::before {
    content: '';
    width: 30px;
    height: 3px;
    background-color: black;
    position: absolute;
    transform: rotate(45deg);
  }
}

.password_wrap {
  position: relative;
}
