.content__main_wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 30px;
  align-items: flex-start;
}

.content__main {
  width: 100%;
  &.blur {
    filter: blur(1px);
    & > * {
      pointer-events: none;
    }
  }
}

.messege {
  margin: 20px auto;
  text-align: center;
}
