@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

@font-face {
  font-family: 'HarryPotter';
  src: url('../fonts/Harry Potter.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
