:root {
  --bg-color: #1d1d1f;
  --main-text-color: #fbd604;
  --disabled-color: #575757;

  --light-color: #fff;
  --dark-color: #1b1a1a;
  --gold-color: #d4af37;

  --a-hover-default-color: #f8e265;

  --maint-font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --main-font-size: 14px;
  --text1-font-family: 'HarryPotter', 'Roboto';
  --text2-font-family: 'Knewave', cursive;

  --max-content-width: 1280px;
  --max-content-padding: 0px 15px;
}
