.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  font-family: var(--text2-font-family);
  font-size: 14px;
  background:
    url('./../../../assets/images/roll/klipartz\ 1.png') no-repeat top left / 100% 80px,
    url('./../../../assets/images/roll/klipartz\ 3.png') no-repeat 0px 80px / 100% 100%;
  padding: 80px 12% 15px;
  color: black;
  @media (max-width: 700px) {
    font-size: 10px;
  }
}

.close_btn {
  align-self: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(35, 34, 30);
  background-color: transparent;
  border-radius: 50%;
  &:hover {
    transform: scale(1.2);
    transition: 0.5s ease;
  }
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  @media (max-width: 800px) {
    flex-wrap: wrap;
  }
}

.content__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content_text__title {
  font-weight: 800;
  margin: 10px auto;
  font-size: 2.5em;
  text-align: center;
}

.content__img {
  flex: 0 1 200px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: self-start;
  img {
    text-align: center;
    border-radius: 10px;
  }
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 2em;
  font-weight: 500;
}

.item__title {
  color: rgb(72, 68, 50);
  // text-decoration: underline;
  font-size: 1em;
}

.item__content {
  padding-left: 1em;
  font-size: 0.8em;
}
