.search_wrap {
  margin: 30px auto;
  font-family: var(--text1-font-family);
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 10px;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 500px;
}

.text_box {
  display: inline-block;
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
  font-family: 'HarryPotter';
}

.text {
  font-family: var(--text1-font-family);
  display: flex;
  padding: 15px;
  background-color: inherit;

  color: #c2af4f;
  font-size: 1em;
  height: 100%;
  font-family: 'Knewave', cursive;
  letter-spacing: 2px;

  &:focus,
  &:valid {
    outline: none;
    ~ span {
      text-shadow: #fc0 1px 0 10px;
    }
  }
}

.current_category {
  position: absolute;
  background-color: var(--bg-color);
  padding: 0px 10px;
  top: -40px;
  left: 2em;
  color: #c2af4f;
  font-size: 14px;
  letter-spacing: 3px;
  width: 7em;
}

.reset {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  color: #c2af4f;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
  &.active {
    pointer-events: all;
    opacity: 1;
    transition: 0.5s ease;
    &:hover {
      color: #eada8c;
    }
  }
}

.categories_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #c2af4f;
  box-sizing: border-box;
  position: relative;
}

.categories_bnt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  height: 100%;
  &:hover {
    text-shadow: #fc0 1px 0 10px;
    background-color: rgb(15, 15, 15);
  }
}

.arrow_ico {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  height: 100%;
  &.active {
    transform: rotate3d(1, 0, 0, 180deg);
    transition: 0.5s ease;
  }
  &:hover {
    text-shadow: #fc0 1px 0 10px;
    background-color: rgb(15, 15, 15);
  }
}

.categories_list {
  max-width: 250px;
  width: 100vw;
  position: absolute;
  top: 63px;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
  background-color: rgb(49, 47, 47);
  transform: translateY(-50%) scale(0, 0);

  &.active {
    transform: translateY(0%) scale(1, 1);
    transition: 0.5s ease;
    z-index: 35;
  }
}

.categories_list__item {
  padding: 10px 20px;
  transition: 0.5s ease;
  cursor: pointer;
  &:not(:last-of-type) {
    border-bottom: 2px solid black;
  }
  &:hover,
  &:focus {
    color: #dcc969;
    transition: 0.5s ease;
    background-color: rgb(38, 37, 37);
  }
}

.search_btn {
  background-color: inherit;
  box-sizing: border-box;
  border-radius: 0px 10px 10px 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  &:hover {
    background-color: rgb(15, 15, 15);
    svg {
      transform: scale(1.2);
      transition: 0.5s ease;
    }
  }
}
